@charset 'UTF-8';

.tomlynch {

  // 1. Configuration and helpers
  @import 'abstracts/variables';
  @import 'abstracts/functions';
  @import 'abstracts/mixins';

  // 2. Vendors
  @import 'vendor/normalize';
  @import 'vendor_extensions/bootstrap';
  @import 'vendor_extensions/bootstrap_tomlynch';

  // 3. Base stuff
  @import 'base/base';
  @import 'base/fonts';
  @import 'base/typography';
  @import 'base/helpers';

  // 4. Layout-related sections
  @import 'layout/header';
  @import 'layout/footer';
  @import 'layout/sidebar';

  // 5. Components
  @import 'components/bookmarks';
  @import 'components/card';
  @import 'components/sidebar_nav';

  // 6. Page-specific styles
  @import 'pages/home';


  .top-spacer { 
    padding-top: 100px; 
  }

  /* Posts */

  .blog-post img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .blog-post p.caption {
    font-size: 100%; 
    font-style: italic; 
    text-align: center;
    margin-bottom: 20px; 
  }

  .blog-post p.video-wrapper {
    height: 335px;
    width: 560px;
    max-width: 100%;
    margin-bottom: 5px; 
  }

  .blog-post iframe.video {
    height: 315px;
    width: 560px;
    position: absolute;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  /* Navbar */

  nav {
    //margin-right: 20px;
    //vertical-align: baseline;
    font-family: $font-family-sans-serif;

    .nav-link {
      font-size: 1.5rem; 
    }

    .navbar-brand {
      font-size: 2rem; 
    }
  }

  nav.raked {
    background-color: $brand-primary; 
    //background-repeat: no-repeat; 
    //background-attachment: fixed; 
    //background-image: url('../images/beehive.jpg'); 
  }

  nav.raked:after {
    $skew: 44.5deg;
    background-color: inherit; 
    content: "";
    position: absolute;
    top:72px;  left: 0;
    padding-bottom: 80%;
    width: 57.7%;
    z-index: -1; 
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-$skew) skewX($skew);
    -ms-transform: rotate(-$skew) skewX($skew);
    transform: rotate(-$skew) skewX($skew);
  }

  /* Fonts */

  body {
    font-family: $font-family-serif;
  }

  body code, body kbd, body pre, body samp, div.screenplay {
    font-family: $font-family-monospace;
    font-size: 100%;
  }

  .date {
    margin-left: 20px;
    font-family: $font-family-sans-serif;
    font-weight: normal;
  }

  h1, h2, h3, h4 {
    font-family: $font-family-sans-serif;
  }

  pre {
    background-color: transparent;
    border-radius: 0px;
    border-left: none;
    border-right: none;
    border-top-color: #e7e7e7;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: #e7e7e7;
	  border-bottom-style: solid;
	  border-bottom-width: 1px;
  }

}

