// Sidebar

.tl-sidebar {
	margin-top: 65px; 
	min-height: 2000px; 
	z-index: 1000;
	//padding: 20px;
	overflow-x: hidden;
	overflow-y: hidden; // Scrollable contents if viewport is shorter than content. 
	border-right: 1px solid #eee;
}

// Sidebar navigation 
.tl-sidebar {
	padding-left: 0;
	padding-right: 0;
}

.tl-sidebar .nav {
	margin-bottom: 20px;
}

.tl-sidebar .nav-item {
	width: 100%;
}

// .sidebar .nav-item + .nav-item {
// 	margin-left: 0;
// }

.tl-sidebar .nav-link {
	border-radius: 0;
}


